@{
  Layout = "_Layout";
}

<h1 id="pageTitle">EDIT<h2>@Model["selectedEvent"].GetEventName()</h2></h1>
<br>

<form action="/events/@Model["selectedEvent"].GetId()/edit" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name" value="@Model["selectedEvent"].GetEventName()" required>

  <label for="eventDate">Date:</label>
  <input type="text" name="eventDate" value="@Model["selectedEvent"].GetEventDate()" required>

  <label for="eventLocation">Location:</label>
  <input type="text" name="eventLocation" value="@Model["selectedEvent"].GetEventLocation()" required>

  <label for="menuId">Menu:</label>
  <input type="text" name="menuId" value="@Model["eventMenu"].GetMenuTheme()" required>
  SHOULD BE DROPDOWN TO SELECT

  <button type="submit">Update</button>
</form>


<hr>
<br>
<div class="container">
  <br>
  <a href="/events/@Model["selectedEvent"].GetId()">back to @Model["selectedEvent"].GetEventName()</a>
</div>