@{
  Layout = "_Layout";
}

<h1 id="pageTitle">EDIT<h2>@Model["selectedEvent"].GetEventName()</h2></h1>
<br>

<form action="/events/@Model["selectedEvent"].GetId()" method="post">

  <label for="newEventName">Name:</label>
  <input type="text" name="newEventName" value="@Model["selectedEvent"].GetEventName()" required>

  <label for="eventDate">Date:</label>
  <input type="text" name="eventDate" value="@Model["selectedEvent"].GetEventName()" required>

  <label for="newEventName">Location:</label>
  <input type="text" name="newEventName" value="@Model["selectedEvent"].GetEventName()" required>

  <label for="newEventName">Menu:</label>
  <input type="text" name="newEventName" value="@Model["selectedEvent"].GetEventName()" required>


  <button type="submit">Update</button>
</form>


<hr>
<br>
<div class="container">
  <br>
  <a href="/events/@Model["selectedEvent"].GetId()">back to @Model["selectedEvent"].GetEventName()</a>
</div>