@{
  Layout = "_Layout";
}

<h1 id="pageTitle"><h2>@Model["selectedEvent"].GetEventName()</h2></h1>
<br>
<a href="/events/{id}/edit">EDIT</a>
<hr>

<br>
@Model["selectedEvent"].GetEventDate()
<br>
@Model["selectedEvent"].GetEventLocation()
<br>
@Model["selectedEvent"].GetMenusId()
<br>
@Model["tasks"].GetTasks()
<br>
@Model["invitees"].GetInvitees()
<br>


<hr>
<br>
<div class="container">
  <a href="/events">back to events</a>
</div>