@{
  Layout = "_Layout";
}

<h1 id="pageTitle"><h2>@Model["selectedEvent"].GetEventName()</h2></h1>
<br>
<a href="/events/@Model["selectedEvent"].GetId()/edit">EDIT</a>
<hr>

<br>
@Model["selectedEvent"].GetEventName()
<br>
@Model["selectedEvent"].GetEventDate()
<br>
@Model["selectedEvent"].GetEventLocation()
<br>
@Model["selectedEvent"].GetMenusId() ---- WE NEED THE NAME NOT ID #
<br>


<hr>
<br>
<div class="container">
  <a href="/events">back to events</a>
</div>