@{
  Layout = "_Layout";
}

<h1 id="pageTitle"><h2>@Model["selectedEvent"].GetEventName()</h2></h1>
<br>
<a href="/events/@Model["selectedEvent"].GetId()/edit">EDIT <i class="fas fa-edit"></i></a>
<hr>

<br>
@Model["selectedEvent"].GetEventName()
<br>
@Model["selectedEvent"].GetEventDate()
<br>
@Model["selectedEvent"].GetEventLocation()
<br>
@Model["eventMenu"].GetMenuTheme()
<br>
@if (@Model["tasks"].Count != 0)
{
  <h4>TASKS SECTION:</h4>
  <ul>
    @foreach (var task in @Model["tasks"])
    {
      <li>@task.GetTaskDescription()<a href='/events/@Model["selectedEvent"].GetId()/tasks/@task.GetId()/delete'><i class="far fa-times-circle"></i></a></li>
    }
  </ul>
}
<form action='/events/@Model["selectedEvent"].GetId()/tasks/new' method='post'>
  <label for='taskId'>Select A Task</label>
  <select id='taskId' name='taskId' type='text'>
    @foreach (var task in @Model["allTasks"])
    {
      <option value='@task.GetId()'>@task.GetTaskDescription()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<hr>

@if (@Model["invitees"].Count != 0)
{
  <h4>Invites SECTION:</h4>
  <ul>
    @foreach (var invitee in @Model["invitees"])
    {
      <li>@invitee.GetInviteeName()<a href='/events/@Model["selectedEvent"].GetId()/invitees/@invitee.GetId()/delete'><i class="far fa-times-circle"></i></a></li>
    }
  </ul>
}
<form action='/events/@Model["selectedEvent"].GetId()/invitees/new' method='post'>
  <label for='inviteeId'>Select A Invitee</label>
  <select id='inviteeId' name='inviteeId' type='text'>
    @foreach (var invitee in @Model["allInvitees"])
    {
      <option value='@invitee.GetId()'>@invitee.GetInviteeName()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
<hr>



<hr>
<br>
<div class="container">
  <a href="/events">back to events</a>
</div>
